[submodule "room_map/parson"]
	path = room_map/parson
	url = https://github.com/kgabis/parson.git
	branch = master
[submodule "parson"]
	path = parson
	url = https://github.com/kgabis/parson.git
	branch = master
